<h1>All Sales Vinyl</h1>

<h3>Album list</h3>

<% if @albums.any? %>
  <ul>
    <% @albums.each do |album| %>
      <li><a href="/albums/<%= album.id %>"><%= album.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no records to display.</p>
<% end %>


<% if @sold.any? %>
<h4>Already Sold!</h4>
  <ul>
    <% @sold.each do |album| %>
      <li><a href="/albums/<%= album.id %>"><%= album.name %></a></li>
    <% end %>
  </ul>
<% end %>
